# dependencies
**/node_modules/

# build
**/dist/
**/build/

# env
**/.env
**/.env.*

# AI temp / outputs
backend/tmp_ai/
backend/storage/
backend/*.wav
backend/*.webm

# OS / editor
.DS_Store
Thumbs.db
.vscode/
